---
published : true
title : Login_{{ site.title }}
---

<head>
    {% include meta.html %}
    <script src="js/ipinfo.js"></script>

    <script>
        function login() {
            var pwd = document.getElementById("pwd").value;
            var ip = document.getElementById("userAgentIp").innerHTML;
            if (pwd == "{{ site.pwd }}"&& {% include iplist.dat %} ) {
                location.href = "http://magazine.brothers.gq";
            } else {
                alert('Wrong Password/IP');
            }
        }
    </script>
    <link type="text/css" rel="styleSheet"  href="css/body.css" />
</head>
<body>
    {% include quicklinks.html %}
    <h1>
        Login
    </h1>
    Your IP:
    <div id="userAgentIp">
        Loading...
    </div>
    <script type="text/javascript">
        getIpInfo()
    </script>
    <input type="password" id="pwd" placeholder="Input your code. " />
    <input type="button" value="OK" onclick="login()" />
</body>
