<style>
.logstate{
    position: fixed;
    right: 12px;
    bottom: 28px;
    height: 40px;
    width: 100px;
    background-color: pink;
    z-index: 9998;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}
</style>
<script src="./js/logverify.js"></script>
<script src="./js/cookie.js"></script>
<script src="./js/ipinfo.js"></script>

<div class="logstate">
    <div id="userAgentIp">
        Loading...
    </div>
    <div id="ulogstate">
        Loading...
    </div>
<script>
    getIpInfo();
    logverify();
</script>
</div>
