---
title : List
permalink : /list
layout : pages
---

{% for post in paginator.posts %}
<article class="post post-1">
    <header class="entry-header">
    <h1 class="entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="entry-meta">
        <span class="post-category"><a href="{{ post.url }}">{{ post.categories }}</a></span>
        <span class="post-category"><a href="{{ post.url }}">{{ post.tag }}</a></span>

        <span class="post-date"><a href="{{ post.url }}"><time class="entry-date" datetime="{{ post.date }}">{{ post.date | date: "%B %d,%Y" }}</time></a></span>
        <span class="comments-link"><a href="{{ post.url }}">HelloLux</a></span>
    </div>
    </header>
</article>
{% endfor %}

<div class="entry-meta">
  {% if paginator.previous_page %}
      <span class="post-category"><a href="{{ paginator.previous_page_path }}">Previous</a></span>
  {% else %}
      <!-- <span class="previous">Previous</span> -->
  {% endif %}
      <span class="post-category">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
      <span class="comments-link"><a href="{{ paginator.next_page_path }}">Next</a></span>
  {% else %}
      <!-- <span class="comments-link ">Next</span> -->
  {% endif %}
  </div>