---
published : true
title : Login_bi
permalink : /login
---

<head>
    {% include meta.html %}
    <script src="./js/ipinfo.js"></script>
    <script src="./js/cookie.js"></script>
    <script>
        function login() {
            var pwd = document.getElementById("pwd").value;
            var ip = document.getElementById("userAgentIp").innerHTML;
            if (pwd == "{{ site.pwd }}" && {% include iplist.dat %} ) {
                setCookie("upwd","",5);
                if (document.getElementById("rememberpwd").checked){
                    setCookie("upwd",pwd,3);
                }
                setCookie("token","{{ site.pwd }}{{ site.token }}",0.125);
                location.href = ("https://insiders.brothers.gq/");
            } else {
                alert('Wrong Password/IP');
            }
        }
    </script>
    <link type="text/css" rel="styleSheet"  href="./css/body.css" />
</head>
<body>
    {% include linkbar.html %}
    <h1>
        Login
    </h1>
    Your IP:
    <div id="userAgentIp">
        Loading...
    </div>
    <script type="text/javascript">
        getIpInfo()
    </script>
    <input type="password" id="pwd"
        placeholder="Input your code. " 
        onfocus='if(this.value==""){this.value=getCookie("upwd");}; '   
        onblur='if(this.value==" "){this.value="";};'
    />
    <input type="button" value="OK" onclick="login()" />
    <br>
    <input type="checkbox" id="rememberpwd" value="rememberpwd" checked="checked"/>
    remember code
</body>
